.header {
    background-color: rgb(225, 225, 225);
    padding: 10px 40px 10px 280px;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    text-decoration: underline;
    list-style: none;
}