.header {
    background-color: var(--light);
    padding: 10px 0px 10px var(--nav-closed);/* + .navMenu L+R padding */
    width: calc(100% - var(--nav-closed));
    margin: 0;
    border-bottom: 1px solid var(--primary);
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTitle {
/*replaced by navLogo*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}

.navLogo {
    width: 200px;   
    height: auto;
    padding: 10px 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    text-decoration: underline;
    list-style: none;
}

