.header {
    background-color: var(--secondary50);
    padding: .5rem 0px;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: top .5s ease-in-out;
}

.headerHidden {
    top: -10rem !important;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLink {
    position: relative;
    display: inline-block;
}

.headerLogo {
    display: flex;
    width: 200px;  
    height: auto; 
    padding: 1rem;
}
