.header {
    background-color: rgb(225, 225, 225);
    padding: 10px 0px;
    margin-left: calc(var(--nav-closed) + 40px); /* + .navMenu L+R padding */
    width: calc(100% - var(--nav-closed));
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTitle {
/*replaced by navLogo*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}

.navLogo {
    max-width: 200px;
    min-width: 120px;
    padding: 10px 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    text-decoration: underline;
    list-style: none;
}