.navMenuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    position: fixed;
    top: 35px;
    left: 25px;
    z-index: 101;
}

.bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.bar1Open {
    transform: translateY(6.5px) rotate(45deg);
}

.bar2Open {
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.bar3Open {
    transform: translateY(-6.5px) rotate(-45deg);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.navMenu {
    position: fixed;
    top:0px;
    left: 0;
    height: 100vh;
    width: 240px;
    background: rgb(225, 225, 225);
    z-index: 100;
    padding: 40px 20px;
    transform: translateX(-70%);
    transition: transform 0.3s ease-in-out;
}

.navMenu.open {
    transform: translateX(0);
}

.closeButton {
    cursor: pointer;
    background: none;
    border: none;
    size: larger;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    list-style: none;
}

.navLinks li {
    font-size: larger;
    color: black;
}

.navLinks a {
    text-decoration: none;
    color: black;
}

.navLinks li:hover {
    font-size: larger;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.navLinks a:hover {
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}