.footer {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    font-size: small;
}

.footerLink {
    text-decoration: underline;
    list-style: none;
}

.footerText {
    display: flex;
    font-size: small;
    margin: 10px;
}