.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    font-size: small;
}

.footerLink {
    text-decoration: underline;
    list-style: none;
}

.footerText {
    display: flex;
    font-size: small;
    margin: 10px;
}