.filtersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.sortSelect {
    background: var(--white);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--primary);
    padding: .4rem .7rem;
    transition: opacity 0.2s;
}

.sortSelect:hover {
    opacity: .8;
    cursor: pointer;
}


@media (max-width: 750px) {
    .filtersContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
        gap: .75rem;
    }
}

@media (max-width: 500px) {
    .filtersContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0;
        gap: .75rem;
    }   
}