/** SETTINGS MODAL **/
.overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--dark), transparent 25%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 101;
    background: var(--light);
    padding: 2rem 4rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.modalTitle {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-top: 1rem;
}

.settingsItem {
    display: flex;
    width: 260px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .25rem;
}

.inputGroup span {
    font-size: 12px;
}

.inputGroup input {
    width: 50px;
    padding-left: .5rem;
    border: 1px solid var(--primary);
}

/* mode */
.settingsItem label {
    color: var(--dark);
    text-align: left;
}

.inputGroup {
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.input {
    flex: 1;
    border: 1px solid var(--primary);
    border-radius: 3px;
    padding: .25rem .25rem .25rem .5rem; 
}

.autoCycleContainer {
    margin: 1rem 0;
}

.checkboxLabel {
    color: var(--primary);
    display: flex;
    flex-direction: row;
    gap: .25rem;
}


/* modal buttons */
.modalButtonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.saveButton {
    background: var(--primary);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--light);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.saveButton:hover {
    background: var(--secondary);
    color: var(--primary);
}

.cancelButton {
    background: var(--white);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--primary);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.cancelButton:hover {
    background: var(--secondary);
    color: var(--primary);
}

.resetButton {
    background: var(--white);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--accent);
    color: var(--accent);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.resetButton:hover {
    cursor: pointer;
    background: var(--accent);
    color: var(--white);
}

.defaultButton {
    display: flex;
    margin: 1rem auto;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .25rem;
    color: var(--secondary);
    border-radius: 50px;
    border: none;
    background: none;
}

.defaultButton:hover {
    color: var(--primary);
    opacity: .75;
}