:root {
  --dark: #2a2640;
  --primary: #3d2e9e;
  --secondary: #899ff5;
  --light: #eceffb;
  --accent: #f68355;
  --white: #fefdfb;

  /* main colors, 50% lighter */
  --dark50: #94939F;
  --primary50: #9E96CF;
  --secondary50: #C4CFFA;
  --light50: #F5F7FD;
  --accent50: #FBC1AA;

  --background: var(--light50);
  --foreground: var(--dark);
  --nav-closed: -50px;
  --nav-open: 240px;

  --light-gradient: linear-gradient(
        #f4f5f9 20%,
        #F5F7FD 40%,
        #eceffb 60%
    );
}

html {
  font-family: var(--font-ibm-plex-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-ibm-plex-serif);
  font-weight: 300;
}

h1 {
  font-size: 48px;
  letter-spacing: -1.5;
  line-height: 50px;
}

h2 {
  font-size: 33px;
  letter-spacing: -0.5;
  line-height: 35px;
}

h3 {
  font-size: 28px;
  letter-spacing: -0.5;
  line-height: 30px;
}

h4 {
  font-size: 23px;
  letter-spacing: -0.5;
  line-height: 25px;
}

h5 {
  font-family: var(--font-ibm-plex-sans);
  font-size: 19px;
  line-height: 21px;
}

h6 {
  font-family: var(--font-ibm-plex-sans);
  font-size: 16px;
  line-height: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: var(--font-ibm-plex-sans);
  font-size: 16px;
  line-height: 24px;
  background: var(--light50);
  color: var(--dark);
}

main {
  display: flex;
  align-items: left;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  /* need 0 margins l + r for card display horizontal scrolling to work *//* header = 4.5rem height + 1rem padding */
  /* header = 4.5rem height + 1rem padding */
  margin: 5.5rem 0; 
  padding: auto;
}


.textInput {
    padding: 0.5rem .75rem;
    margin: .5rem 0;
    border: 1px solid var(--dark50);
    border-radius: 4px;
    color: var(--primary);
}

.primaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    font-weight: 400;
    border-radius: 4px;
    border: solid 0 var(--primary);
    color: var(--white);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.primaryButton:hover {
    background: var(--primary50);
}

.page {
  --background: var(--light50);
  --foreground: #fff;
  
  --text-primary: var(--dark);
  --text-secondary: var(--primary);
  
  --button-primary-hover: var(--secondary);
  --button-secondary-hover: var(--secondary);
  --button-secondary-border: var(--primary);
  
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-ibm-plex-sans);
  background-color: var(--light50);
}


.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

a.primary {
  background: var(--text-primary);
  color: var(--light);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}


.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  margin: 5rem 0 0 0;
  gap: 8rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
  
  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
  
  .intro {
    gap: 16px;
  }
  
  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
    
  .logo {
    filter: invert();
  }
  
  .page {
    --background: var(--dark);
    --foreground: var(--dark);

    --text-primary: var(--light);
    --text-secondary: var(--midtone);

    --button-primary-hover: var(--midtone);
    --button-secondary-hover: var(--primary);
    --button-secondary-border: var(--primary);
  }
}