:root {
  --dark: #2a2640;
  --primary: #3d2e9e;
  --secondary: #899ff5;
  --light: #eceffb;
  --accent: #f68355;
  --white: #fefdfb;

  --background: var(--white);
  --foreground: var(--dark);
  --nav-closed: 50px;
  --nav-open: 240px;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  align-items: center;
  min-height: 100vh;
  margin-left: calc(var(--nav-closed) + 40px); /* + .navMenu L+R padding */
  width: calc(100% - var(--nav-closed));
  /*
  width: 100%;
  padding: 120px 60px;
  */
}

.landingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 20px;
}

.page {
  --background: var(--light);
  --foreground: #fff;
  
  --text-primary: var(--dark);
  --text-secondary: var(--primary);
  
  --button-primary-hover: var(--primary);
  --button-secondary-hover: var(--midtone);
  --button-secondary-border: var(--dark);
  
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-ibm-plex-sans);
  background-color: var(--light);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--light);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
  
  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
  
  .intro {
    gap: 16px;
  }
  
  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
  }
    
  .logo {
    filter: invert();
  }
  
  .page {
    --background: var(--dark);
    --foreground: var(--dark);

    --text-primary: var(--light);
    --text-secondary: var(--midtone);

    --button-primary-hover: var(--midtone);
    --button-secondary-hover: var(--primary);
    --button-secondary-border: var(--primary);
  }
}