.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.selectMode {
    display: flex;
    gap: 1rem;
}

.modeButton {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modeButton:active {
    background-color: whitesmoke;
}

.modeButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.animationContainer {
    position: relative;
    width: 298;
    height: 298;
    display: grid;
    place-items: center;
    /*align-items: center;
    justify-content: center;*/
}

.countdown {
    position: absolute;
    font-size: 4rem;
    z-index: 10;
    top: 0;
    left: 0;
    width: 298;
    height: 298;
    display: grid;
    place-items: center;
    margin: 0;
}

.animationBase {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
}

.progressRing {
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.progressRingCircle {
    display: grid;
    place-items: center;
    transition: stroke-dashoffset 0.3s linear;
    stroke: plum;
    stroke-linecap: round;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}

.actionButton {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}


