/** TIMER (settings modal below) **/
.timerContainer {
    position: fixed;
    padding: 1rem;
    bottom: 2rem;
    right: 2rem;
    width: auto;
    background: var(--white);
    border-radius: 4px;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 95;
    transition: all 0.3s ease;
}

.timerContainer .minimized {
    width: 300px;
}

.timerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark);
}

.timerTitle {
    padding: 0;
    margin: 0;
    color: var(--dark);
    font-size: 1.5rem;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: var(--light);
    color: var(--dark);
    border-color: none;
    border-radius: 2rem;
    border: none;
    padding: .25rem;
    transition: color 0.2s;
}

.headerButton:hover {
    background: var(--secondary);
    color: var(--light);
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* timer - modes */
.selectMode {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

.modeButton {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    text-wrap: nowrap;
    opacity: 1;
    transition: color 0.2s;
}

.modeButton:hover {
    opacity: .85;
}

.modeButton:hover:not(:disabled) {
    background: var(--white);
}

.modeButton:active {
    opacity: 1;
}

.modeButton:disabled {
    cursor: not-allowed;
}

/* timer - animation */
.animationContainer {
    position: relative;
    width: 298;
    height: 298;
    display: grid;
    place-items: center;
}

.countdown {
    position: absolute;
    font-size: 4rem;
    z-index: 10;
    width: 298;
    height: 298;
    display: grid;
    place-items: center;
    margin: 0;
}

.animationBase {
    position: absolute;
    display: grid;
    place-items: center;
}

.progressRing {
    display: grid;
    place-items: center;
    transform: rotate(-90deg);
}

.progressRingCircle {
    display: grid;
    place-items: center;
    transition: stroke-dashoffset 0.3s linear;
    stroke-linecap: butt;
}


/* timer - reset, play/pause, skip */
.actionButton {
    display: flex;
    padding: 1rem;
    align-content: center;
    justify-items: center;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid var(--primary);
    color: var(--white);
    background: var(--secondary);
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.controlButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.settingsButton {
    display: flex;
    margin: auto;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .25rem;
    color: var(--secondary);
    border-radius: 50px;
    border: none;
    background: none;
}

.settingsButton:hover {
    color: var(--primary);
    opacity: .75;
}

.settingsIcon {
    font-size: large;
}

.minimizedContent {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    padding: .5rem 1rem;
    gap: 1rem;
}

.minimizedTime {
    font-size: 2.5rem;
}

.minimizedControlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
}

.minimizedControlButton:hover {
    opacity: 0.8;
}