.overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--dark), transparent 25%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NEW PUNCH CARD BUTTON */
.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createButton {
    background: var(--primary);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--light);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.createButton:hover {
    background: var(--secondary);
    color: var(--primary);
}

/* POP-UP MODAL */
.modal {
    background: var(--light);
    padding: 2rem 4rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.modalTitle {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    width: 25vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    text-transform: uppercase;
    font-size: small;
    color: var(--dark);
}

.formGroup input {
    padding: 0.5rem .75rem;
    margin: .5rem 0;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--secondary);
}

/* PRIMARY BUTTONS - cancel and save/create */
.primaryButtonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.saveButton {
    flex: 1;
    background: var(--primary);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--light);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.saveButton:hover {
    background: var(--secondary);
    color: var(--primary);
}


.cancelButton {
    flex: 1;
    background: var(--white);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--primary);
    padding: 0.5rem 1.75rem;
    transition: opacity 0.2s;
}

.cancelButton:hover {
    background: var(--secondary);
    color: var(--primary);
}

/* SECONDARY BUTTONS - reset, delete (edit mode only) */
.secondaryButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid var(--accent);
}

.resetButton {
    font-weight: 400;
    border-radius: 4px;
    background: none;
    border: none;
    color: var(--accent);
    padding: 1.75rem;
    transition: opacity 0.2s;
}

.resetButton:hover {
    cursor: pointer;
    font-weight: 600;
}

.deleteButton {
    background: none;
    font-weight: 400;
    border: none;
    color: var(--accent);
    padding: 1.75rem;
    transition: opacity 0.2s;
}

.deleteButton:hover {
    cursor: pointer;
    font-weight: 600;
}
