.overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--dark), transparent 25%);
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NEW PUNCH CARD BUTTON */
.headingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* POP-UP MODAL */
.modal {
    background: var(--light);
    display: block;
    padding: 1rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    min-width: 320px;
    transition: transform 0.3s ease-in-out;
    z-index: 103;
}

.modalTitle {
    text-align: left;
    margin: 0 0 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    text-transform: titlecase;
    font-size: small;
    color: var(--dark);
}

.formGroup input {
    padding: 0.5rem .75rem;
    width: 220px;
    margin: .5rem 0;
    border: 1px solid var(--primary);
    border-radius: 2px;
    color: var(--secondary);
}

/* PRIMARY BUTTONS - cancel and save/create */
.primaryButtonGroup {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 1rem 0;
}

.saveButton {
    flex: 1;
    background: var(--primary);
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--light);
    padding: 0.5rem 1rem;
    transition: opacity 0.2s;
}

.saveButton:hover {
    background: var(--secondary);
    color: var(--primary);
}


.cancelButton {
    flex: 1;
    background: var(--white);
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px var(--primary);
    color: var(--primary);
    padding: 0.5rem 1rem;
    transition: opacity 0.2s;
}

.cancelButton:hover {
    background: var(--secondary);
    color: var(--primary);
}

/* SECONDARY BUTTONS - reset, delete (edit mode only) */
.secondaryButtonGroup {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.resetButton {
    background: none;
    font-size: 16px;
    border: none;
    color: var(--secondary);
    padding: 0;
    margin: 0;
    transition: opacity 0.2s;
}

.resetButton:hover {
    cursor: pointer;
    color: var(--primary);
}

.deleteButton {
    background: none;
    font-size: 16px;
    border: none;
    color: var(--secondary);
    padding: 0;
    margin: 0;
    transition: opacity 0.2s;
}

.deleteButton:hover {
    cursor: pointer;
    color: var(--primary);
}

