.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 30px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    margin: 60px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}

.loginTitle {
    color: var(--primary);
}

.loginButton {
    cursor: pointer;
}