.navBar {
    background-color: var(--light);
    padding: .5rem 0px;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: top .5s ease-in-out;
}

.navHidden {
    top: -10rem !important;
}

.navBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogo {
    width: 200px;  
    height: auto; 
    padding: 1rem;
}