/* New card, sort, group */
.cardControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* NOT SORTED DISPLAY */
.cardsContainer {
    display: grid;
    
    /*margin: 0;*/
    /*width: calc(100vw - var(--nav-closed));*/


    gap: 2rem;
    padding: 1px 0px 1.5px var(--nav-closed);

    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
}

/** SORTED DISPLAY **/
.groupedView {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: var(--nav-closed);
    width: calc(100vw - var(--nav-closed));
}

.tagGroup {
    display: flex;
    flex-direction: column;
    padding: 1px 0px 1.5px var(--nav-closed);/* + .navMenu L+R padding */
    width: calc(100% - var(--nav-closed));
    border-bottom: 1px solid var(--secondary);
}

.cardsCarousel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.punchCard {
    flex-shrink: 0;
}

.tagGroupHeader {
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 0;
    margin-left: 1rem;
}