/* New card, sort, group */
.cardControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* NOT SORTED DISPLAY */
.cardsContainer {
    display: grid;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    margin: 4rem 8rem; 
    width: 100%;
}

/** SORTED DISPLAY **/
.groupedCardsContainer {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0 8rem;
    width: 100%;
}

.tagGroup {
    display: block;
    flex-direction: column;
    overflow-block: inherit;
     /* R margin and padding must be 0 */
    margin: 4rem 2rem;
    padding: 0;
}

.tagGroupHeader {
    text-transform: uppercase;
    margin: .25rem;
}
 /*
.cardsCarousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 1rem 0;
    gap: 2rem;
}
    */

.cardsCarousel {
    display: flex;
    overflow: scroll;
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
    scrollbar-color: var(--secondary) transparent;
}

.punchCard {
    flex: 0 0 auto;
    width: 320px;
}

