.card {
    padding: 1.5rem;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background: var(--white);
    display: inline-block;
    margin: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    margin: 0;
    font-size: 1.25rem;
}


.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag {
    background: rgb(234, 221, 236);
    color: blueviolet;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    font-size: .75rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days = 7 columns */
    gap: 20px;
    margin: 20px;
}

.punch {
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
}

/* REPLACED W/ PUNCHED.SVG IMG
.filled {
    background: rgb(239, 221, 142);
}
*/

.progressContainer {
    height: 50px;
    width: auto;
}

.full {
    text-align: center;
    font-weight: bold;
    color: var(--accent);
    font-size: 20px;
}

.counter {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
    font-size: x-large;
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.resetButton,
.editButton {
    display: flex;
    padding: .5rem;
    align-content: center;
    justify-items: center;
    font-size: large;
    background: var(--primary);
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid var(--primary);
    color: var(--white);
    background: var(--primary);
    transition: opacity 0.2s;
}

.resetButton:hover,
.editButton:hover {
    background: var(--light);
    color: var(--primary);
}

