.bottomNav {
    background-color: var(--dark);
    padding: .5rem 0px;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.navContent {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

.navLinks {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navLink {
    width: 40px;
    height: 40px;
}

/* default icon */
.navLinkContent {
    position: absolute;
    width: 40px;
    height: 40px;
}

button.navLinkContent {
    padding: 0;
    background: none;
    border: none;
}

/* hover icon */
.hoverIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* show hover icon */
.navLinkContent:hover .hoverIcon {
    opacity: 1;
}