.bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--dark);
    padding: 1rem 0px;

    z-index: 100;
}

.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    display: flex;
    flex: 1;
    max-width: 500px;
    align-content: center;
    justify-content: space-around;
    /* flex-direction: row;
    */
    padding: 0;
    margin: 0;
}

.navLink {
    position: relative;
    width: 40px;
    height: 40px;
}

/* default icon */
.navLinkContent {
    position: absolute;
    width: 40px;
    height: 40px;
}

button.navLinkContent {
    padding: 0;
    background: none;
    border: none;
}

/* hover icon */
.hoverIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* show hover icon */
.navLinkContent:hover .hoverIcon {
    opacity: 1;
}